/* Using google fonts */
.noto-sans-tc-200 {
  font-weight: 200;
}
.noto-sans-tc-300 {
  font-weight: 300;
}
.noto-sans-tc-400 {
  font-weight: 400;
}
.noto-sans-tc-500 {
  font-weight: 500;
}
.noto-sans-tc-600 {
  font-weight: 600;
}
.noto-sans-tc-700 {
  font-weight: 700;
}
.noto-sans-tc-200, .noto-sans-tc-300, .noto-sans-tc-400, .noto-sans-tc-500, .noto-sans-tc-600, .noto-sans-tc-700 {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: block;
  overflow-x: hidden;
}
nav {
  background-color: #F1F1EE;
  //background-color: red;*/
  /*
  background: rgb(249,249,248);
  background: linear-gradient(90deg, rgba(249,249,248,1) 54%, rgba(242,245,29,1) 92%); 
  */
}
.navbar-brand {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
}
.navbar-brand img {
  max-height: 50px;
}

/*
nav div ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}
nav ul li a:hover {
  color: #008000;
}
*/
/* newly added */
.header {
    /*background-image: url('img/meeting.jpeg');*/
    background-image: url('img/forest.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.65);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1, h6 {
	/*color: #6ab446;*/
    color: #F4F5A3;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.featurebg {
    background-color: #FFA
    /*color: #ccc;*/
    padding: 60px 0 30px;
    /*padding: 4em 0;*/
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    /*color: #fff;*/
    color: #FFFFFF; 
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #2D2D60;
    border: 1px solid #333;
}

.background {
	background: #dedec8;
	padding: 4em 0;
}
.team {
	color: #5e5e55;
	padding: 0 180px;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card {
	background:none;
	border: none;
}
.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.page-footer h5 {
    color: #F4F5A3;
    //#FEFC01;
}
.page-footer a {
    color: lightgreen;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}
/* Icon set */
i.fa {
  padding: 20px;
  font-size: 27px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  /*border-radius: 70%;*/
  /*
  display: inline-block;
  padding: 40px;
  font-size: 18px;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  */
}

i.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
//  background: #3B5998;
  color: #3B5998;
}

.fa-twitter {
//  background: #55ACEE;
  color: #55ACEE;
}

.fa-google {
//  background: #dd4b39;
  color: #dd4b39;
}

.fa-linkedin {
//  background: #007bb5;
  color: #007bb5;
}

.fa-youtube {
//  background: #bb0000;
  color: #bb0000;
}

.fa-wechat {
//  background: #7BB32E;
  color: #7BB32E;
}

.fa-whatsapp {
//  background: darkgreen;
  color: green;
}

